.App {
    background-color: #f9e9dc;
    margin: 0 auto;
    width: 900px;
    border-radius: 60px;
    padding: 24px;
}

.wrapper {
    border: 2px solid #28224D;
    border-radius: 36px;
    overflow: hidden;
}

@media (max-width: 768px) {
    .App{
        width: 100%;
    }
}